<header>
    <div class="logo-header-container">
      <!-- On laisse vide ou tu peux y insérer une version réduite du logo -->
    </div>
    <nav>
      <ul>
        <li><a href="#"><i class="fas fa-briefcase"></i> Insurance</a></li>
        <li><a href="#"><i class="fas fa-credit-card"></i> Credit</a></li>
        <li><a href="#"><i class="fas fa-hand-holding-heart"></i> Donations</a></li>
        <li><a href="#"><i class="fas fa-building"></i> Real Estate</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i> Contact Us</a></li>
        <li class="auth-buttons">
            <a routerLink="/add-user" class="btn-auth btn-signup">Sign Up</a>
            <a routerLink="/auth" class="btn-auth btn-outline">Sign In</a>            
        </li>
      </ul>
    </nav>
  </header>
  