#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2) rotate(0deg);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 1000;
    animation: logoEntrance 3s ease-in-out forwards;
}
  
@keyframes logoEntrance {
    0% {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(2) rotate(0deg);
      width: 600px;
      height: 600px;
    }
    100% {
      top: -70px;
      left: -10px;  /* Décale légèrement à droite */
      transform: translate(0, 0) scale(1) rotate(360deg);
      width: 300px;
      height: 300px;
    }
}
