/* You can add global styles to this file, and also import other style files */

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Optional: Ensure all elements transition smoothly */
* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

body {
    background-image: url("/assets/img/fond.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
  }
  @tailwind base;
@tailwind components;
@tailwind utilities;